.counter {
    height: 50px;
    width: 50px;
    background-color: #fb3640;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -25px;
    left: -25px;
    font-size: 20pt;
}
