body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

.task {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-group-item {
    width: 80%;
}

.delete {
    color: red;
    width: 50px;
    height: 50px;
    border: none;
    background-color: white;
}

.delete ion-icon {
    width: 100%;
    height: 100%;
}
